@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@keyframes animationFoto {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes animationPNG {
  0% {
    top:20px;
    transform: rotate(0deg);
  }
  25% {
    top:10px;
    transform: rotate(-10deg);
  }
  50% {
    top:20px;
    transform: rotate(15deg);
  }
  100% {
    top:50px;
    transform: rotate(0deg);
  }
}


@keyframes animationKiss {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(.9);
  }
  75% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes animationAlbum {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(.95);
  }
  100% {
    transform: scale(1);
  }
}
.Main{
  background-color: #4f4f4f;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.Main p{
  color: white;
  font-size: 36px;
  width: 50%;
  margin: 10px;
  text-align: left;
}
.d1, .d2,.d3,.d4,.d5,.d6,.d7{
 display: flex;
 padding: 50px ;
  justify-content: space-between;
 height: 700px;
 align-items: center;
 position: relative;
}
.d1 div img , .d2 div img{
  width: 600px;
  height: 700px;
  border-radius: 20px;
  box-shadow: 25px 23px 25px 3px rgba(0,0,0,0.92);
  animation: animationFoto 5s infinite;
}
.d2,.d4,.d6, .d8{
  background-color: lightcoral;
}
.pngimage{
  position: absolute;
  top: 150px;
  left: 90px;
  width: 240px;
  height: 200px;
  animation: animationPNG 3s infinite;
}

.bj1,.bj2,.bj3,.bj4,.bj5,.bj6,.bj7,.bj8,.bj9,.bj10{
  position:absolute;
  height: 220px;
  width: 200px;
  animation: animationKiss 3s infinite;
}

.bj1{
  top:250px;
  right: 200px;
}
.bj2{
  top:100px;
  left: 700px;
}
.bj3{
  bottom:100px;
  right: 800px;
}
.bj4{
  bottom:250px;
  right: 1100px;
}
.bj5{
  top:400px;
  left: 1300px;
}
.bj6{
  top:350px;
  left: 300px;
}
.bj7{
  top:350px;
  left: 900px;
}
.bj8{
  top:350px;
  left: 900px;
}
.bj9{
  top:50px;
  right:900px;
}
.bj10{
  bottom:50px;
  left: 450px;
}

.d3{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
}
.dFotos{
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  box-shadow: 25px 23px 25px 30px rgba(0,0,0,0.08);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  animation:animationAlbum 3s infinite
}
.dFotos img{
  width: 200px;
  height: 300px;
  margin: 3px;
  border-radius: 15px;
  margin :10px;
}

.d6 p,.d7 p{
  font-size: 36px;
}

.d8{
  padding: 100px 15%;
  height: 700px;
  align-items: center;
  position: relative;
}
.d8 p{
  color: white;
  font-size: 32px;
  width: 99%;
  text-align: left;
  margin-bottom: 0px;
}
.d8 h1{
  font-family: Great Vibes;
  margin: 0px;
}